[user]
  name    = Yasunori Takahashi
  email   = hibriiiiidge@gmail.com
[color]
  ui      = auto
[alias]
  g       = git
  df      = diff
  rb      = rebase
  co      = checkout
  br      = branch
  st      = status
  cm      = commit
  ds      = diff --staged
	sw      = switch
[push]
  default = current
[init]
	templatedir = ~/.git_template
[commit]
  template = /Users/yasunoritakahashi/.gitmessage.txt
[pull]
	rebase = false
